header{
    background-color: white;
    padding: 0;
    border-bottom: 1px solid red;
}

a{
    color: brown;
    text-decoration: none;
    display: flex;
    align-items: center;

}

a:hover{
    background-color: blue;
    color: white;
}

.container{
    margin: 0 auto;
    display: flex;
    justify-content:space-between;

}

a.logo{
    font-weight: bold;
    padding: 1em; 
}

.logo-image {
    width: 40px; 
    height: auto;
    margin-right: 5px; 
  }


  nav ul {
    list-style: none;
    margin: 25;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    display: flex;
    align-items: center;
  }

  .cart-image {
    width: 40px;      
  height: auto;
  margin-right: 5px; 
  vertical-align: middle;
  }
  .cart-image:hover{
    color: white;
  }

.cart-link:hover .cart-image {
    opacity: 0.3;
    
}

