<app-search></app-search>
<app-tags></app-tags>
<ul class="food-list">
    <li *ngFor="let food of foods">
        <a [routerLink]="['/food', food.id]">
        <img [src]="food.imageUrl" alt="food image">
        <div class="content">
          <div class="name">
            {{ food.name }}
          </div>
          <span class="favorites" [ngClass]="{ 'favorite': food.favorite, 'not': !food.favorite }">
            <button>&#10084;</button>
          </span>
         <div>
          <mat-icon *ngFor="let star of [0, 1, 2, 3, 4]" [ngClass]="getStarType(food.star, star)">
            {{ getStarType(food.star, star) }}
          </mat-icon>
        </div>
          <div class="product-footer">
             <div class="origins">
                <span *ngFor="let origin of food.origin"> 
                    {{origin}}
                </span>
             </div>
             <div class="cook-time">
                <span>🕒</span>
                {{food.cookTime}}
             </div>

          </div>
          <div class="prices">
            <span>€</span>
            {{food.price}}

         </div>
      
        </div>
      </a>
    </li>
  </ul>
